/* navigatio */
#navbar
{
    flex-direction: column;
}
#navbar ul list a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* home section   */
#home
{
    height: 370px;
    padding: 3px 28px;
}
#home::before
{
    height: 480px;
}
#home p
{
    font-size: 13px;
}
/* services section  */
#services
{
    flex-direction: column;
}
#services.box
{
   padding: 14px;
   margin: 2px  55px;
   border-radius: 28px;
   margin-bottom: 20px;
}
/*  client section  */
#clients
{
    flex-wrap: wrap;
}
#client image{
    width: 66px;
    padding: 2px 6px;
    height: auto;
}

/*  Contact us section  */
#contact-box form{
    width: 80%;
}

/*  footer  */



/*  utility classess   */

.h-primary
{
    font-size:26px;
}
.btn
{
    font-size: 13px;
    padding: 4px 8px
}